/******Laptop***************/
@media(max-width: 1440px){
    li.right-image img {
    width: 260px;
    margin-bottom: 50px;
    margin-right: 50px;
    }
    .first-tab h1 {
    font-size: 22px;
    color: #fff;
    }
    h1.opecity {
    margin-left: 32px;
    }
}
/******Laptop with touch***************/
@media(max-width: 1280px){
    h1.opecity {
    margin-left: 25px;
    }
    .right-menu span i {
    margin-left: 50px;
    }
    li.right-image img {
    width: 230px;
    margin-bottom: 68px;
    margin-right: 20px;
    }
    ul.lipartion li.leftform {
    min-width: 55%;
    }
}
/******Ipad pro***************/
@media(max-width: 1024px){
    .leftside { 
    min-width: 350px;
    max-width: 350px;
    }
    .left-content p {
    font-size: 15px;
    }
    .logoimg img {
    width: 250px;
    height: auto;
    }
    section.rightside .tab-section .header-prat {
    padding-left: 50px;
    }
    .content-view { 
    padding-left: 50px;
    }

    .nav-tabs .nav-link {
    margin-right: 32px;
    font-size: 20px;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    font-size: 20px;
    }
    .right-menu label.user-name {
    font-size: 16px;
    }
    .right-menu figure {
    margin-right: 6px;
    }
    .right-menu span i {
    margin-left: 20px;
    font-size: 28px;
    }
    .first-tab h1 {
    font-size: 22px;
    }
    .form-section .form-group h2 {
    font-size: 16px;
    }
    .form-section .form-group label {
    font-size: 13px;
    }
    li.right-image img {
    width: 200px;
    margin-bottom: 80px;
    margin-right: 10px;
    }
    li.leftform:after {
    right: -50px;
    }
    [type="checkbox"] + label, [type="radio"] + label { 
    font-size: 12px;
    }
    .chcek-btn button.btn.themebtn {
    margin-right: 10px;
    }
    li.right-image {
    width: 60%;
    }
    h1.opecity {
    margin-left: 30px;
    }
}
/******Ipad***************/
@media(max-width: 768px){
    .logoimg img {
    width: 200px;
    height: auto;
    }
    .right-menu figure {
    display: none;
    }
    .right-menu label.user-name {
    display: none;
    }
    .right-menu span i {
    margin-left: 10px;
    margin-right: 10px;
    }
    .nav-tabs .nav-link {
    margin-right: 20px;
    font-size: 18px;
    }
    .first-tab h1 {
    font-size: 18px;
    }
    h1.opecity {
        margin-left: 20px;
    }
    section.rightside .tab-section .header-prat {
    padding-left: 30px;
    }
    .content-view {
    padding-right: 15px;
    padding-left: 30px;
    }
    ul.lipartion li.leftform {
    min-width: 100%;
    }
    li.leftform:after{
        display: none;
        content: none;
    }
    ul.lipartion {
    display: block;
    }
    li.right-image {
    width: 100%;
    text-align: center;
    }
    li.right-image img {
    margin: 30px 0px;
    }
    .chcek-btn {
    display: block;
    }
    [type="checkbox"] + label, [type="radio"] + label {
    font-size: 16px;
    display: block;
    }
    li.ipad figure {
    display: block!important;
    }
    li.ipad label.user-name {
    display: block!important;
    }
    li.ipad {
    display: flex!important;
    align-items: center;
    justify-content: space-between;
    }
    .bottom-img {
    margin-top: 60px;
    }
    .form-group.description input.form-control {
    height: 100px;
    }
    .form-group.sellides input.form-control {
    height: 90px;
    }
}
/******Mobile***************/
@media(max-width: 767px){
    section.leftside {
    display: none;
    }
    section.rightside .tab-section .header-prat {
    padding-left: 15px;
    }
    .content-view {
    padding-right: 15px;
    padding-left: 15px;
    }
    .form-group.description input.form-control {
    height: 75px;
    }
    .form-group.sellides input.form-control {
    height: 65px;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    font-size: 16px;
    }   
    .nav-tabs .nav-link {
    margin-right: 30px;
    font-size: 15px;
    }
    section.leftside.mobile {
    display: block;
    }
    main.main-cover {
    display: block;
    }
    .leftside {
    min-width: 100%;
    max-width: 100%;
    padding: 15px 20px;
    }
    .left-content{
        padding:0px;
    }
    section.rightside {
     margin-bottom:0px; 
    }
    section.leftside .logoimg {
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
    }
}
/******Mobile(375)***************/
@media(max-width: 375px){
    
}
/******Mobile(320)***************/
@media(max-width: 320px){
    .nav-tabs .nav-link {
    margin-right: 15px;
    font-size: 15px;
    }
    .first-tab h1 {
    font-size: 16px;
    }
    .form-section .form-group h2 {
    font-size: 14px;
    }
    .form-section .form-group label {
    font-size: 12px;
    }
    .left-content p {
    font-size: 14px;
    }
    [type="checkbox"] + label, [type="radio"] + label {
    font-size: 14px;
    display: block;
    }
    ul.submenues li {
    font-size: 14px;
    }
}
/******Mobile(414)***************/
@media(max-width: 414px){
    
}