/***********************Aashiq***********************/
/*============ Core Css Start ============*/
html{
    padding:0px;
    margin: 0px;
}
body {
    background: #5E2F7F 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    font-size: 14px;
    font-family: 'Montserrat';
    color: #222222;
    min-height: 100vh;
}
a, input, button, a:focus, input:focus, button:focus {outline:none; box-shadow:none;}
:focus {outline: -webkit-focus-ring-color auto 0px;}
img {
    max-width: 100%;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.form-control {
    background: #ECECEC 0% 0% no-repeat padding-box;
    border: 1.5px solid #5F6CD9;
    border-radius: 5px;
    opacity: 1;
    height: 40px;
    font-size: 14px;
    color: #969696;
}
.form-control:focus {
    outline: none;
}
.form-group {
    margin-bottom: 20px;
}
.form-control:focus {
    box-shadow: none;
    outline: none;
    border-color: #5f6cd9;
}
.form-control::-webkit-input-placeholder {
    color: #a5a5a5;
}
.form-label {
    margin-bottom: 0px;
}
main.main-cover{
    display: flex;
    min-height: 100vh;
    width: 100%;
}
.leftside{
     position: relative; 
    top: 0px;
    left: 0px;
    min-width: 377px;
    max-width: 377px;
    min-height: 100%;
    background: #5E2F7F 0% 0% no-repeat padding-box;
    opacity:1;
}
section.leftside .logoimg {
    width: 100%;
    height: 116px;
    display: flex;
    align-items: center;
}
.logoimg img {
    width: 285px;
    height: 76px;
    margin: 0 auto;
}
.left-content {
    padding: 33px 33px 33px 54px;
    color: #BFB9C3;
    letter-spacing: 0px;
}
.left-content h2 {
    font-size: 26px;
    font-weight: 600!important;
}
.left-content p {
    font-size: 17px;
    text-align: left;
}
.tab-section .header-prat{
    width: 100%;
    height: 70px;
    background: rgba(184,171,205,1);
    background: -moz-linear-gradient(left, rgba(184,171,205,1) 0%, rgba(184,171,205,1) 0%, rgba(116,248,255,1) 79%, rgba(116,248,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(184,171,205,1)), color-stop(0%, rgba(184,171,205,1)), color-stop(79%, rgba(116,248,255,1)), color-stop(100%, rgba(116,248,255,1)));
    background: -webkit-linear-gradient(left, rgba(184,171,205,1) 0%, rgba(184,171,205,1) 0%, rgba(116,248,255,1) 79%, rgba(116,248,255,1) 100%);
    background: -o-linear-gradient(left, rgba(184,171,205,1) 0%, rgba(184,171,205,1) 0%, rgba(116,248,255,1) 79%, rgba(116,248,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(184,171,205,1) 0%, rgba(184,171,205,1) 0%, rgba(116,248,255,1) 79%, rgba(116,248,255,1) 100%);
    background: linear-gradient(to right, rgba(184,171,205,1) 0%, rgba(184,171,205,1) 0%, rgba(116,248,255,1) 79%, rgba(116,248,255,1) 100%);
}
.content-view{
    padding-top: 25px;
    padding-left: 80px;
    width: 100%;
    height: 100%;
    background: rgba(110,76,146,1);
    background: -moz-linear-gradient(left, rgba(110,76,146,1) 0%, rgba(42,155,196,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(110,76,146,1)), color-stop(100%, rgba(42,155,196,1)));
    background: -webkit-linear-gradient(left, rgba(110,76,146,1) 0%, rgba(42,155,196,1) 100%);
    background: -o-linear-gradient(left, rgba(110,76,146,1) 0%, rgba(42,155,196,1) 100%);
    background: -ms-linear-gradient(left, rgba(110,76,146,1) 0%, rgba(42,155,196,1) 100%);
    background: linear-gradient(to right, rgba(110,76,146,1) 0%, rgba(42,155,196,1) 100%);
}
section.rightside {
    margin-bottom: 50px;
    width: 100%;
}
section.rightside .tab-section .header-prat {
    display: flex;
    padding-left: 80px;
    height: 112px;
    align-items: center;
    justify-content: space-between;
}
.right-menu {
    display: flex;
    align-items: center;
}
.right-menu figure{
    margin-right: 10px;
    margin-bottom: 0px;
    height: 34px;
    width: 34px;
}
.right-menu label.user-name {
    margin-bottom: 0px;
    text-align: left;
    font-family: Montserrat;
    letter-spacing: 0;
    color: #FFFEFE;
    font-size: 17px;
    font-weight: 500!important;
}
.right-menu figure img {
    height: 100%;
    width: 100%;
}
.right-menu span i {
    margin-left: 90px;
    margin-right: 40px;
    color: #5E2F7F;
    font-size: 34px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: transparent;
    font-size: 24px;
    border: none;
    border-bottom: 3px solid #5e2f7f;
}
.nav-tabs .nav-link {
    margin-right: 50px;
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    font-size: 24px;
    padding: 10px 0px;
    color: #5e2f7f;
    font-weight: 600!important;
}
ul#myTab li.nav-item a#Overview-tab {
    margin-right: 0px;
}
.nav-tabs {
    border-bottom: 1px solid #5E2F7F;
}
.first-tab h1 {
    font-size: 30px;
    color: #fff;
}
.first-tab {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
h1.opecity {
    opacity: 0.4;
    margin-left: 45px;
}
.form-section .form-group h2 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}
.form-section .form-group label {
    font-size: 14px;
    display: block;
    color: #fff;
    margin-bottom: 10px;
}
button.btn.themebtn {
    background: #ECECEC 0% 0% no-repeat padding-box;
    border: 1.5px solid #5F6CD9;
    border-radius: 5px;
    opacity: 1;
    width: 100px;
    color: #5E2F7F;
    padding: 4px 0px;
}
.chcek-btn {
    display: flex;
    align-items: center;
}
.chcek-btn button.btn.themebtn{
    background: #ECECEC 0% 0% no-repeat padding-box;
    border: 1.5px solid #5F6CD9;
    border-radius: 10px;
    opacity: 1;
    margin-right: 18px;
}
.chcek-btn button.btn.themebtn:last-child{
    margin-right:0px;
}
.chcek-btn .form-check {
    margin-right: 10px;
}
/**************chcekbox and radiobutton*******************/
/* [type="checkbox"], [type="radio"] {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
} */
[type="checkbox"]:hover + label::before, [type="radio"]:hover + label::before {
  border-color: #5F6CD9;
}
[type="checkbox"]:active + label::before, [type="radio"]:active + label::before {
  transition-duration: 0;
}
[type="checkbox"] + label, [type="radio"] + label {
  position: relative;
  padding: 6px;
  user-select: none;
  font-size: 18px;
  color: #fff;
  margin-right: 10px;
}
[type="checkbox"] + label::before, [type="radio"] + label::before {
  background-color: #fff;
  border: 2px solid #5F6CD9;
  box-sizing: content-box;
  content: '';
  color: #444;
  margin-right: 6px;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
[type="checkbox"] + label::after, [type="radio"] + label::after {
  box-sizing: content-box;
  content: '';
  background-color: #5e2f7f;
  position: absolute;
  top: 50%;
  left: 11px;
  width: 14px;
  height: 14px;
  margin-top: -7px;
  transform: scale(0);
  transform-origin: 50%;
  transition: transform 200ms ease-out;
}
[type="checkbox"][disabled] + label::before, [type="radio"][disabled] + label::before {
  animation: none;
  box-shadow: none;
  border: 1px solid #5F6CD9;
}
[type="checkbox"][disabled]:active + label::before, [type="radio"][disabled]:active + label::before, [type="checkbox"][disabled]:focus + label::before, [type="radio"][disabled]:focus + label::before, [type="checkbox"][disabled]:hover + label::before, [type="radio"][disabled]:hover + label::before {
  border-color: #5F6CD9;
  filter: none;
  transition: none;
}
[type="checkbox"] + label::before, [type="checkbox"] + label::after {
  border-radius: 0;
}
[type="checkbox"] + label::after {
  background-color: transparent;
  top: 50%;
  width: 11px;
  height: 4px;
  border-style: solid;
  border-color: #5e2f7f;
  border-width: 0 0 3px 3px;
  border-radius: 0;
  border-image: none;
  transform: rotate(-45deg) scale(0);
  transition: none;
  left: 11px;
  top: 22px;
}
[type="checkbox"]:checked + label::after {
  content: '';
  transform: rotate(-45deg) scale(1);
  transition: transform 200ms ease-out;
}
[type="radio"] + label::before, [type="radio"] + label::after {
  border-radius: 50%;
}
[type="radio"]:checked:active + label::before, [type="radio"]:checked:focus + label::before {
  animation: none;
  filter: none;
  transition: none;
}
[type="radio"]:checked + label::before {
  animation: none;
  background-color: #fff;
}
[type="radio"]:checked + label::after {
  transform: scale(1);
}
ul {
    list-style: none;
}
/*********custom chcekbox radiobutton ends*************/
ul.lipartion {
    padding: 0px;
    display: flex;
    align-items: flex-end;
    list-style: none;
}
ul.lipartion li{width:100%;
}
ul.lipartion li.leftform{
    min-width: 57%;
    position: relative;
}
/* li.leftform:after{
    content: "";
    display: block;
    width: 2px;
    border: 2px solid #5E2F7F;
    opacity: 1;
    height: 85%;
    position: absolute;
    top: 70px;
    right: -70px;
} */
.leftform:after {
    content: "";
    display: block;
    width: 2px;
    border: 2px solid #5E2F7F;
    opacity: 1;
    height: 85%;
    position: absolute;
    top: 70px;
    right: -27px;
    margin:20px;
}
li.right-image {
    width: 100%;
    text-align: right;
}

li.right-image img {
    width: 295px;
    margin-bottom: 50px;
    margin-right: 70px;
}
.form-group.ideaname input.form-control {
    height: 30px;
}
.form-group.description input.form-control {
    height: 140px;
}
.form-group.simmilaridea input.form-control {
    height: 70px;
}
.form-group.sellides input.form-control {
    height: 140px;
}
.bars-icon {
    position: relative;
}
.dropdown-box {
    z-index: 99;
    display: none;
    right: 0px;
    position: absolute;
    background: #5E2F7F 0% 0% no-repeat padding-box;
    border: 2px solid #75F9FE;
    opacity: 0.93;
    width: 220px;
    top: 71px;
}
ul.submenues {
    padding: 0px;
    margin: 0px;
}
ul.submenues li {
    font-weight: 500;
    font-size: 15px;
    text-align: left;
    letter-spacing: 0;
    color: #6DE4F1;
    opacity: 1;
    padding: 10px 30px;
}
i.fa.fa-bars:hover {
    cursor: pointer;
}
.bottom-img {
  margin-top: 120px;
  text-align: center;
  width: 100%;
}
.bottom-img img {
    width: 140px;
}
ul.submenues li:hover {
    cursor: pointer;
    background: #2d98c2;
    color: #fff;
}
li.ipad figure {
display: none;
}
li.ipad label.user-name {
display: none;
}
li.ipad {
  display: none;
}
section.leftside.mobile {
    display: none;
}
textarea {
    width: 100%;
    padding: 10px;
    background: #ECECEC 0% 0% no-repeat padding-box;
    border: 1.5px solid #5F6CD9;
    border-radius: 5px;
    opacity: 1;
    font-size: 14px;
    color: #969696;
}
/* simran */
.whitebox{margin:10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #00FF2B;
border-radius: 16px;
height: auto;
}
.whitebox img{
    top: 195px;
left: 471px;
width: 228px;
height: 167px;
/* background: transparent url('img/NoPath - Copy (3).png') 0% 0% no-repeat padding-box; */

border-radius: 6px;
opacity: 1;
}
.donation{font-weight: bold;
color:#5E2F7F;}
.content p{line-height: 12px;
    margin-bottom:3px;
color:#5E2F7F;
text-align: left;
font: Regular 8px/10px Montserrat;
letter-spacing: 0;
color: #5E2F7F;
opacity: 1;
font-size: 12px;
font-weight:600px;}
.click {
    background: #665698 0% 0% no-repeat padding-box;
    border: 1px solid #00FFFF;
    border-radius: 10px;
    opacity: 1;
    padding: 5px;
    color: white;
    font-size: 12px;
}
.username{
    display: flex;
    justify-content: space-between;
}
.categoryDetail{margin-bottom:0px;
    font-weight: bold;
    color:#5E2F7F;
}
.categoryDetail p{
    margin-bottom: 0px;
}
.nopath img{border-radius: 6px;
    width: 228px;
    height: 167px;
    width: 100%;
    
    object-fit: cover;
}
.nopath {    border: 1px solid #707070;
    width: 100%;
    margin-left: 10px;
    margin: 12px auto;
    height: 167px;
    border-radius: 6px;
    width: 217px;
}
.cardproperty{
    display: flex;
    justify-content: space-between;
}

/* simran */
.diamond li:first-child{
    border-right: 1px solid #5e2f7f;
}
/* 19/8/2019 shivani */
@media(max-width:1280px){
.ideas {
 
    font-size: 19px!important;
   
}}
@media(max-width:1280px){
    .ideas {
     
       width:140px!important;
    }}
    @media(max-width:768px){
        .paraset{
            width:282px!important;
        }
    }
.content p {
    font-size: 10px;
}
/* .whitebox {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #00FF2B;
    border-radius: 16px;
    margin-right: 39px;
} */

.nopath img {
    border-radius: 6px;
    width: 268px;
    height: 167px;
    border: 1px solid #707070;
    object-fit: cover;
    max-width: 239px;
  
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.approved {
    width: 11px;
    border-radius: 50%;
    height: 11px;
    background: #00FF2B 0% 0% no-repeat padding-box;
    border: 1px solid #00FF2B;
    opacity: 1;
    float: right;
    margin-top: -16px;
    margin-right: -15px;
}

.approveds {
    width: 11px;
    border-radius: 50%;
    height: 11px;
    background: #FF0000 0% 0% no-repeat padding-box;
    border: 1px solid #FF0000;
    opacity: 1;
    float: right;
    margin-top: -16px;
    margin-right: -15px;
}
.approvede {
    width: 11px;
    border-radius: 50%;
    height: 11px;
    background: #FFAA00 0% 0% no-repeat padding-box;
    border: 1px solid #FFAA00;
    opacity: 1;
    float: right;
    margin-top: -16px;
    margin-right: -15px;
}
.whiteboxs {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid  #FF0000;
    border-radius: 16px;
    margin-right: 39px;
}
.whiteboxe {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid  #FFAA00;
    border-radius: 16px;
    margin-right: 39px;
}
.cardpropertys {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

/* li.right-image {
    width: 100%;
    text-align: right;
    background-color: lightblue;
    margin-left: 92px;
    border-radius: 17px;
    margin-bottom: 202px;
} */
.right-image {
    width: 100%;
    max-width: 264px;
    text-align: right;
    background-color: #54a3c8;
    border-radius: 17px;
    margin-bottom: 202px;
    padding: 27px;
}
.vote {
    width: 78px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #00DCD5;
    border-radius: 15px;
    opacity: 1;
    text-align: center;
    margin-top: 33px;
    width: 59px;
    height: 38px;
}
.votes {
    width:80px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #00DCD5;
    border-radius: 15px;
    opacity: 1;
    text-align: center;
 margin-bottom: -41px;
}
.voteSection{
    background: transparent;
    border: none;
}
.standrd{
    color: #212529;
    background: lightblue;
    opacity: 0.5;
        width: 100%; 
    text-align: right;
     background-color: lightblue; 
    margin-left: 92px; 
    border-radius: 17px; 
 margin-bottom: 202px;
}
.newsSection{
text-align: left;
font: Bold 30px/37px Montserrat;
letter-spacing: 0;
color: #FFFFFF;
opacity: 1;}
.simLogo img{
width:23px;
height:23px;
}
.market img{
    width:30px;
height:30px;
}
.justin{
    color:white;
}
.simLogo h6{widows: 148px;;
    color: #5E2F7F;
    font-weight: bold;
    font-size: 26px;}
    .profile img{
        width:100px;
        height:100px;
    }
    .carousel-control-prev-icon.hide {
        background: none;
    }
.paraset{
    width:468px;
}
 .app{
    padding-left:59px;
} 
.capp {
    padding-left: 59px;
    padding-right: 30px;
}
.carousel-control-next-icon.hide{
    background: none;
}
a:hover{
    /* font-size: 20px; */
    color:white;
    opacity:0.4;
}
a{font-size: 20px;
    color:white;
}
.shadow{position: relative;
    background: #A293CC;
    width: 100%;
    opacity: 0.4;
    height: 303px;
    border-radius: 47px;
}
.cardStyle{top:0px;
    position: absolute;
}
.vies{
    display:flex;
    justify-content: space-between;
}
.vl {    border-left: 2px solid #6E5297;
    height: 374px;
    opacity: 0.4;
    margin: 10px;
  }
  .line-style{
      display: flex;
  }
  .coin
  {
      font-size: 24px;
  }
  .stykl img{
      width:200px;
  }
  .headerDfr{
  background:#5E2F7F!important;}
  .bar span  i{
  color:#75F8FD;}
  .log-header{
    width: 100%;
    margin: 0px 0px 0px auto;
    max-width: 516px;
  }
  .moreValue{
    width: 100%;
    margin: 14px -130px 0px auto;
    max-width: 516px;
  }
  .headerlogo{
      display: flex;
  }
  .setWidth{
      width: 19%;
      color:white;
  }
  .line{
      height:10px;
      border-left: 1px solid;
  }
.fontKey{font-size: 24px;
    color:#5E2F7F;
    margin-bottom:2px;
    font-weight: 700;
}
  .metric{padding:32px;
      width:100%;
  }
  .total{    background: #9BCDE2;
     border: 3px solid #5E2F7F;
    
    height: 240px;
    border-radius: 35px;
    padding: 40px;
}
.ideas{    color: #5E2F7F;
    font-size: 22px;
    font-weight: 600;
    font-weight: 600;
    width: 128px;}
    .nintyEght{
      
        font-size:40px;
        color:#5E2F7F;
    }
    .five{
       
        font-size:40px;
        color:#ffff;
    }
    .totalSet{
        border: 3px solid #5E2F7F;
        
        height: 240px;
        border-radius: 35px;
        padding: 40px;
        background: #EC5991;
       
    }
    .projcts{ font-size: 22px;
        font-weight: 600;
        font-weight: 600;
        width: 128px;
        color:white;
    }
    li.setWidth::after { 
        content: "|";
        padding-left:15px;
      }
      li.homewidth::after { 
        content: "|";
        color:white;
      }
      .btnheader1{
          font-size: 18px;
      }
      .workPage{
          color:white!important;
      }
      /* .contact :last-child{
     display: none;
      } */
      .siss{
        border-left: 2px solid #6E5297;
        height: 374px;
        opacity: 0.4;
        margin: 10px;
      }
    
      .setTop{
          padding-top:80px;
      }
      .rightImg{
          display:flex;
      }
      .totalSet{
        background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);}
        .progress-bar{
          width: 100%;
          max-width:200px;
        }
        .progress-value{
        margin-left: 140px;}
        .simCoin{
            position: relative;
        }
        .amount{
            position: absolute;
            top: 41%;
            left: 8%;
            font-weight: 700;
            font-size: 29px;
        }
        .standing-content{
        padding: 33px 33px 33px 54px;
        color: #ffff;
        letter-spacing: 0px;}
        .simc-content{
            padding: 33px 33px 33px 54px;
            color: #ffff;
            letter-spacing: 0px;
        }
        .paymnt-content{
            padding: 33px 33px 33px 54px;
            color: #ffff;
            letter-spacing: 0px;
        }
        .steve-content{
            padding: 33px 33px 33px 54px;
            color: #ffff;
            letter-spacing: 0px;
        }
        .me{
            color:#BFB9C3;
        }
        .transparency{
            background: #6E5297;
            width: 219px;
            height: 148px;
            overflow-y: scroll;
        }
        /* .projct-invest{
       
        } */
        .investmnt{font-size:30px;
            color:#BFB9C3;
        }
        .donation li{
            color:white;
        }
  .frnds img{border-radius: 50%;
    border:4px solid #CE0000;
      width:86px;
      height:86px;
  }
.undefind{background: white;
    border-radius: 50%;
    border:4px solid #00920A;
      width:86px;
      height:86px;
}
.smooth{background: white;
    border-radius: 50%;
    border:4px solid #95FFE9;
      width:86px;
      height:86px;
}
.yellowS{background: white;
    border-radius: 50%;
    border:4px solid #C4C400;
      width:86px;
      height:86px;}
      .goodZ{
          font-size: 14px;
          color:white;
      }
      .myholding{
        width: 100%;
        height: 161px;
         background: #7f70a8;
    }
      .mydivider{max-width: 400px;
        width:100%;
        background: #7f70a8;}
      .myholding p{
          color:white;
      }
      .mydivider p{font-weight: 600;
          color:white;
      }
      .reward{border: 2px solid #6E5297;
        font-weight: 500;
        padding: 4px;
        width: 92px;
        color: #6E5297;
        background: white;
        border-radius: 6px;
      }
      .community{
      color:#5E2F7F;}
      .diamond li{width:20%;
        color:white;
         
      }
      .levelStrt {
          display: flex;
      }
      .diamond{line-height: 3;
          display: flex;
      }
      .levelStrt li{width:20%;
        color:white;
        border-bottom: 1px solid #5E2F7F;
      }
      .box{
          width:25px;
          height:25px;
      }
      .boxstyl{display: flex;
          width:20%;
      }
      .votingSet{
          color:white;
      }
      hr{
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #ccc;
      margin: 1em 0;
      padding: 0;}
      .setAmont{
          padding:16px;
      }
      .refral{
          line-height: 1;
      }
      /* chat room 1 */
      .chat{
font-size: 20px;
color:white;
      }
      
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,body {
    font-family: 'Open Sans';
    height: 100%;
  }
  
  a {
    text-decoration: none;
  }
  
  div#header {
    width: 100%;
    height: 8%;
    background-color: #78428C; 
    margin: 0 auto;
  }
  
  .logo{
    float: left;
    margin-top: .2ex; 
    margin-left: 10px;
  }
  
  .logo a {
    font-size: 1.6em;
    color: #fff;
  }
  
  .logo a span {
    font-weight: 300;
  }
  
  div#container {
    height: 92%;
    width: 100%;
    margin: 0 auto;
  }
  
  
  .sidebar {
    width: 250px;
    background:#78428c;
    float: left; 
  }
  
  ul#nav{
  
  }
  
  ul#nav li {
      list-style: none;
    height:10px;
      /*background-image: url("../images/success.png");*/
      
  }
  ul#nav li span{
    position:relative;
  }
  ul#nav li span img {
      float: left;
    display: block;
    margin-left: 1px;
    margin-top: 2px;
  }
  ul#nav li a {
      color: #ccc;
      display: block;
      padding: 10px;
      font-size: 0.8em;
      width: 85%;
      float: right;
      -webkit-transition: all 0.2s ease;	
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
  }
  
  ul#nav li a:hover {
    background: #030303;
    color: #fff;
  }
  
  ul#nav li a.selected{
    background: #43425D;
    color:#fff;
  }
  
  
  /* .content {
    width: auto;
    height: 100%;
    background: #95a5a6;
    margin-left: 250px;
    padding: 15px;
  } */
  
  .content p {
    color: #424242;
    font-size: 0.8em;
  }
  
  div#box {
    margin-top: 15px;
  }
  
  div#box .box-top {
    color: #fff;
    text-shadow: 0 1px #000;
    background: #2980b9;
    padding: 5px;
    padding-left: 15px;
    font-weight: 300;
  } 
  
  div#box .box-panel {
    padding: 15px;
    background: #fff;
    color: #333;
  }
  
  
  
  @media only screen and (max-width: 480px) {
  
    a.mobile {
      display: block;
      color: #fff;
      background: #000;
      text-align: center;
      padding: 7px; 
      cursor: pointer;
    }
  
    a.mobile:active{
      background: #474747;
    }
  
  
    .sidebar {
      width: 100%;
      display: none;
      height: auto;
    }
  
    .content {
      margin-left: 0;
    }
  
  
  }
  
  
  
  @media only screen and (min-width: 480px) {
    .sidebar {
      height: 92%;
      left: 0;
      display: block;
      position: absolute;
    }
    .sidebar{
        width:100%;
    }
    a.mobile {
      display: none;
    }
  }
           /* chat room 1 */

           /* SONAM CSS */

           .slick-slider{
               position: inherit; 
           }
           .responsive1slider.slick-slide.slick-current.slick-active.slick-center {
            box-shadow: 0px 0px 21px 0px #d2d2d2;
            z-index: 9;
            width: 375px!important;
            height: 250px;
        }
        .responsive1slider.slick-slide.slick-active {
            width: 310px!important;
            margin-right: -30px!important;
            z-index: 5;
            height: 200px;
        }
        .responsive1slider.slick-slide {
            z-index: 4;
            height: 175px;
            width: 305px;}
        section.custom-slider {
            margin-top: 30px;
            min-height: 300px;
            display: flex;
            align-items: center;
        }
        section.custom-slider  .slick-track {
            min-height: 300px;
            align-items: center;
            display: flex;
        }
        .imgpath img{
    border-radius: 6px;
    width: 100%;
  padding: 5px;
        }
        /* login screen 26Aug */
        .left-part {
            padding: 53px 53px;
            margin: 0 auto;
          
            border-radius: 20px;

            background: #100736;
            width: 100%;
            max-width: 400px;
        }
        .full-part {
            margin-top: 80px!important;
            margin-bottom: 80px!important;
        }
        .logo-img {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
        }
        .logo-img img {
            max-width: 200px;
        
        }
        .user-info {
            
            color: white;
        }
        input[type=text], input[type=email], input[type=password], input[type=number], input[type=tel], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 11px;
            box-sizing: border-box;
        }
        .emaladd {color:white;
            margin-top: 28px;
        }
        .holderpass {
            position: relative;
        }
        .eye {
            right: 16px;
            position: absolute;
            top: 25px;
        }
        .rem {color:white;
            margin-left: 4px;
        }
        .psw {
            float: right;}
            .psw u{
                color:white;
            }
            .uppdte  {
                text-align: center;
            }
            .uppdte  button{
                background-image: linear-gradient(to right, #643daa, #883ea6, #a542a1, #bc499b, #d05395);
                width: 100%;
                border: none;
                height: 47px;
                border-radius: 5px;
                color: white;
                font-size: 19px;}
            .alredy {color:white;
                margin-top: 50px;
            }
            .uppdte {
                text-align: center;
            }
            .alredy {
                margin-top: 50px;
            }
            .btnheader {
               
                display: inline-block;
                border-radius: 20px;
                width: 56px;
                height: 37px;
                line-height: 34px;
                font-size: 18px;
                text-align: center;
            }
            section.rightside .tab-section .header-prat.accesDtn{
                padding-right:80px;
            }
          
            .styling{
                margin-bottom:0px!important;
            }
            .loginView{
                background: #1d114f;
            }
            .styleHead{
                background:#1d114f!important;
            }
            .passwordSet{
                font-size:13px;
            }
            .remove{border:none;
                background: #1d114f;
            }
            .log-header a.btnheader::after {
content:' |';
            }
            .bulding img{
                width:100%;
                height:100%;
                object-fit:cover;
            }
        /* login screen  26Aug*/
        /* resetPass 26Aug */
        .resetpass {color:white;
            text-align: center;
            max-width: 336px;
            margin: 0 auto;
            padding: 20px;
        }
        .creat{padding:0px;
            color:white;
        }
        /* resetPass 26Aug */
        /* logoutModal */
        .logoutModal{
text-align: center;
        }
        .yesNo{border-top:none;
            
        }
        .btn-yes{
            width:100%;max-width: 200px;
        }
        .yesNo button{width:100%;
            height:40px;
            color:white;
            border-radius: 5px;
background-image: linear-gradient(to left top, #524298, #75459c, #93479d, #af4a9c, #c94f99);
        }
        .root{
            border-bottom:none;
        }
         /* logoutModal */
         /* profile css */
         .userProfile{
             width:100px;
             height:00px;
             border-radius: 50%;
            }
            .userProfile{
                margin:0 auto;
            }
            .sunali{padding:0px;
                color:white;
            }
            /* profile css */


            /* charu css */

            .border-none {
                border: none;
            }
            .capp img {
                width: 100%;
                max-width: 150px !important;
            }
            .carousel-control-cbutton {
                left: 29px !important;
            }
            .d-none {
                display: none;
            }
         
            .table.ctable td, table.ctable th {
                border-top:none;
            }
            .ctable tbody td {
                vertical-align: bottom;
                border-bottom: 2px solid #dee2e6;
            }
            tr th:first-child {
                border-right: 1px solid #dee2e6;
            }
            tr th:nth-child(2) {
                width: 3px;
                border-right: 1px solid #dee2e6;
            }
            tr th:last-child {
                width: 3px;

            }
            tr td:first-child {
                width: 18px;
                border-right: 1px solid #dee2e6;
            }
            tr td:nth-child(2) {
                width: 104px;
                border-right: 1px solid #dee2e6;
            }
            .table.ctable td, .table.ctable th {
                padding: 2px;
                padding-left: 11px;
                text-align: left !important;
            }
            .ctable {
                width: 100%;
                margin-bottom: 1rem;
                color: #dee2e6;
            }
            .ctable thead th {
                color: #5e3080;
                vertical-align: bottom;
                border-bottom: 2px solid #dee2e6;
            }
            .ctable tbody tr:hover {
                font-weight: 800;
            }
            /* .cwhitebox img {
                top: 195px;
                left: 471px;
                width: 100%;
                max-width: 178px;
                height: 167px;
                background: transparent url(img/NoPath - Copy (3).png) 0% 0% no-repeat padding-box;
                border-radius: 6px;
                opacity: 1;
            } */
     
 @media(max-width:1440px){
    .carousel-control-cbutton {
        left: 44px !important;
    }
    .capp {
        padding-left: 79px;
        padding-right: 0px;
    }
    .capp img {
        width: 100%;
        max-width: 108px !important;
    }
        } 
        @media(max-width:1280px){
            li.leftform:after {
                right: 247px;
            }
        .capp img {
            width: 100%;
            max-width: 79px !important;
        }
    }
    @media(max-width:1024px){
    .capp {
        padding-left: 39px;
        padding-right: 0px;
    }
    .carousel-control-cbutton {
        left: 12px !important;
    }
}
@media(max-width:768px){
    .capp {
        padding-left: 29px;
        padding-right: 0px;
    }
.app img {
    width: 100%;
    max-width: 59px !important;
}
}
@media(max-width:767px){
    .capp {
        padding-left: 123px;
        padding-right: 0px;
        margin-bottom: 13px;
    }
.capp img {
    width: 100%;
    max-width: 182px !important;
}
}
@media(max-width:320px){
.capp {
    padding-left: 82px;
    padding-right: 0px;
    margin-bottom: 13px;
}
}
  /* charu css */

/* simran Profile page */
    .standrd {
        width: 100%;
        height: 738px;
        max-width: 500px;
        text-align: right;
        background-color: #54a3c8;
        margin-left: 92px;
        border-radius: 17px;
        margin-bottom: 202px;
        padding: 27px;}
        .coinset{
            width:20px;
            height:20px;
        }
        .formSt{
            margin-top:127px;
        }
        .noof{
            text-align:left;
            font-weight: 700;
            color: white;
        }
        /* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius:5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #0896d8; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {border-radius:5px;
    background:     rgba(110,76,146,1) 0%;
}
  
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {border-radius:5px;
    background: rgba(110,76,146,1) ;
}
.referSpcl{color:#757575;
    word-break: break-all;
width: 100%;
max-width:600px;
background: white;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 11px;
box-sizing: border-box;}
.spaceWet{
    padding:20px;
    color:white;
}
.widthSet{
    max-width:600px;
}
.referSpcl i{
    float: right;
    font-size: 18px;
    color: #ab449f;
    margin-left: 5px;}
    .simgrp i{
        float: right;
        font-size: 18px;
        color: #ab449f;
        margin-left: 5px;
    }
/* simran Profile page */
/* simran referalink */
.furkan{font-size: 50px;
    color:white;
}
.link{
    color:white;
}
.simBackground{
    background: #1d114f!important;
}
.col-md-6.centerfld{
    display: flex;
    align-items: center;
}
/* simran referalink */
/* simran wallet */
.stelpp{
    width: 100%;
    text-align: right;
    background-color: #54a3c8;
    border-radius: 17px;
    padding: 27px;
}
.rightsdeBack{
    background: linear-gradient(to right, rgba(110,76,146,1) 0%, rgba(42,155,196,1) 100%);
}
.centerRow{
    display: flex;
    align-items: center;
    min-height: 601px;
}
.curentVote{
    font-size:25px;
    color:white;
}
.vir{
    display: flex;
    justify-content: space-between;
}
@media(max-width:768px){
    .formsset{
    padding:50px;
}}
.walt{
    color:white;
    font-size: 30px;
}
.wsded{
    padding-left:0px;
}
/* simran wallet */

@media(max-width:767px){
    .uppdte button {
        background-image: linear-gradient(to right, #643daa, #883ea6, #a542a1, #bc499b, #d05395);
        width: 100%;
        border: none;
        height: 47px;
        border-radius: 5px;
        color: white;
        font-size: 13px;
    }
}
.homewidth{
    width:10%;
}
.contc{
    color:white;
}
/* aboutus css */
.aboutTxtt{
    color:white;
}
.loremDetail p{
    color: white;
    line-height: 2;
    font-size: 16px;
}
/* aboutus css */
/* contactus css */
.settl{
    display: flex;
    justify-content: center;
}
.ckl{
    border-radius: 50%;
    width:30px;
    height:30px;
    background:red;
}
.fdset{
    display: flex;
}
.five{font-size: 13px;
background: red;
border-radius: 50%;
width: 20px;
height: 20px;
text-align: center;
padding: -2px;
margin-bottom: 0px;
}
/* contactus css */
/* index css */
.rightsvd.table-responsive{
    display: flex;
    align-items: center;
    margin: 99px auto;
}
.rightsvd{
    width: 100%;
    max-width: 264px;
    text-align: right;
    background-color: #54a3c8;
    border-radius: 17px;
    margin-bottom: 202px;
    padding: 27px;
}
@media(max-width:1280px){
.categoryDetail{
    font-size: 11px;
}}
@media(max-width:1024px){
   card-body .username{
     padding:0px;
    }}
    .cview{
    background: linear-gradient(to right, rgba(110,76,146,1) 0%, rgba(42,155,196,1) 100%);}
    .spacingRght{
        padding-right: 80px;
    }
/* index css */

.userProfile .fa-pencil{
    color: #763ed0;
    font-size: 20px;
    position: absolute;
    background: #fff;
    padding: 5px;
    bottom: 0px;
    border-radius: 50%;
    right: 1px;
}

.kep-login-facebook{
    color: transparent !important;
    font-size:"0px" !important;
    opacity: 0 !important;
    position: absolute !important;
    width:100%;
    left:0;

}
.google-login-style{
    color: transparent !important;
    font-size:"0px" !important;
    opacity: 0 !important;
    position: absolute !important;
    width:100%;
    left:0;

}
.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    z-index: 9999;
    background-color: #ffffff78;
    top: 0;
  }