.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

@import url('./assets/css/bootstrap.min.css');
/* @import url('./assets/css/fontawesome-all.min.css'); */
@import url('./assets/css/mobile.css');
@import url('./assets/css/style.css');
@import url('./assets/css/style_s.css');
/* @import url('./assets/css/text-editor.css'); */
